@font-face {
  font-family: "kenygraffiti";
  src: url("./assets/fonts/Graffiti.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
